version 5.247.4
source https://api.nuget.org/v3/index.json
storage: none
framework: netcoreapp3.1

nuget FSharp.Core

// Parser
nuget FParsec

// Test
nuget Expecto
nuget Expecto.FsCheck

// Module Dependencies Visualizer
nuget FSharp.Compiler.Service

// [ FAKE GROUP ]
group NetcoreBuild
    source https://api.nuget.org/v3/index.json
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    // WORK AROUND: See https://github.com/fsprojects/Paket/issues/3907
    // Nuget.Packaging is required by Fake.DotNet.Cli
    nuget Nuget.Packaging < 5.7
